body {
    font-family: Arial, Helvetica, sans-serif;
}

.login_container {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}