body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* ----- Navbar ----- */
.topnav {
    display: flex;
    background-color: black ;
    color: white;
    padding: 8px;
    justify-content: space-evenly;
}

.topnav a {
    display: block;
    padding: 0.25em;    
    color: white;
}

.topnav select {
    background-color: black;
    color: white;
    border-radius: 3px;
}

.topnav .search-bar {
    width: 50%;
    border-radius: 3px;
    box-shadow: none;
}


.topnav a:hover {
    background-color: darkgray;
}

/* ----- Item Scroll ----- */

.wrapper {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 1em;
    margin: 2em;
    padding: 1em;
}

.wrapper h2 {
    margin-top: 2px;
}


.container {
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
    /* margin: 1em; */
}

.item {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    margin-right: 1em;
    margin-bottom: 4px;
    padding: 1em;
    width: 250px;
    min-width: 200px;
}

.item:hover {
    text-decoration: underline;
}

.product-name {
    font-weight: 100;
    margin: 10px 0;
}

.product-price {
    font-size: 20px;
    font-weight: 600;
}

.product-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

/* ----- Custom Scroll Bar ----- */
/* height */
::-webkit-scrollbar {
    height: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
