body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* ----- Navbar ----- */
.topnav {
    overflow: hidden;
    background-color: black ;
    color: white;
    padding: 8px;
}

.topnav a {
    display: block;
    float: left;
    padding: 0.25em;    
    color: white;
}

/* .topnav {
    float: left;
}

.topnav #basket-button {
    float: right;
}

.topnav #account-button {
    float: right;
} */

.topnav a:hover {
    background-color: darkgray;
}

/* ----- Item Scroll ----- */

.wrapper {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 1em;
    margin: 2em;
    padding: 1em;
}

.wrapper h2 {
    margin-top: 2px;
}


.container {
    display: flex;
    overflow: scroll;
    /* margin: 1em; */
}

.item {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    margin-right: 1em;
    padding: 1em;
    width: 250px;
    min-width: 200px;
}

.item:hover {
    transform: scale(1.03);
}

.product-name {
    font-weight: 100;
    margin: 10px 0;
}

.product-price {
    font-size: 20px;
    font-weight: 600;
}

.product-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}